@font-face {
  font-family: "Dosis";
  font-weight: 300;
  font-display: swap;
  src:  url("../fonts/Dosis-light.woff2"),
  url("../fonts/Dosis-light.woff");
}

@font-face {
  font-family: "Dosis";
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/Dosis-Regular.woff2"),
  url("../fonts/Dosis-Regular.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/Roboto-Regular.woff2"),
  url("../fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src:  url("../fonts/Roboto-Medium.woff2"),
  url("../fonts/Roboto-Medium.woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/RobotoCondensed-Regular.woff2"),
  url("../fonts/RobotoCondensed-Regular.woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-display: swap;
  src:  url("../fonts/RobotoCondensed-Bold.woff2"),
  url("../fonts/RobotoCondensed-Bold.woff");
}

