@import "vars";
@import "fonts";


html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.container {
  padding: 0 20px;

  @media (min-width: 640px) {
    padding: 0 30px;
  }

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1024px) {
    max-width: 1200px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    max-width: 1320px;
  }
}

.header {
  background-color: $accent;
}

.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 640px) {
    min-height: 100px;
  }
}

.logo__link {
  margin-left: 8px;
  
  @media (min-width: 640px) {
    margin-left: 14px;
  }

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.menu__button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;

  &::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: $accent;
    position: absolute;
    top: 15px;
    left: 14px;
    box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
  }
}

.head {
  background: url(../images/head-bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 193px;
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    button {
      font-size: 0;
      border: none;
      background-color: $accent;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
      cursor: pointer;
    }

    .slick-active button {
      background-color: transparent;
      border: 1px solid #476E4D;
    }
  }
}

.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}

.top-slider__title {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 61px;
    margin: 0 auto;
    background-color: $text-color;
  }
}