$accent: #2B4074;
$text-color: #4A4A4A;
$bg-color: #F9F6E5;
$default-color:  #9B9B9B;

%dosis-300 {
  font-family: "Dosis";
  font-weight: 300;
}

%dosis-400 {
  font-family: "Dosis";
  font-weight: 400;
}

%robotocondensed-400 {
  font-family: "Roboto Condensed";
  font-weight: 400;
}

%robotocondensed-bold {
  font-family: "Roboto Condensed";
  font-weight: bold;
}

%roboto-500 {
  font-family: "Roboto";
  font-weight: 500;
}